@model EmployeeListsModel
@{
	ViewData["Title"] = "Live Status";
	// var opentimeStamps = Model.Where(t => t.ClockOut is null && t.)
}
<link rel="stylesheet" href="~/css/dark-theme.css" />
<h1>@ViewData["Title"]</h1>
<br />
<style>
	.passwordProtected {
		display: none;
	}
</style>
<table>
	<caption>Working</caption>
	<tr>
		<th>Clock</th>
		<th class="passwordProtected">Name</th>
		<th>Project</th>
		<th>Panel</th>
		<th>Backplate</th>
		<th>Started</th>
		<th>Elapsed</th>
	</tr>
@foreach (var timestamp in Model.Working)
{
		var timeElapsed = DateTime.Now - timestamp.ClockIn;
		<tr>
		<td>@timestamp.User.ClockNumber</td>
		<td class="passwordProtected">@timestamp.User.FullName</td>
		<td>
			@timestamp.Task.Pannel.Project.ProjectNo
		</td>
		<td>
			@timestamp.Task.Pannel.PanelNumber
		</td>
		<td>
				@timestamp.Backplate.Section@timestamp.Backplate.Position
		</td>
		<td>@timestamp.ClockIn</td>
		<td>@timeElapsed.Days Day(s) : @timeElapsed.Hours Hour(s) : @timeElapsed.Minutes Minute(s)</td>
	</tr>
}
</table>
<br />
<br />
<table>
	<caption>Downed</caption>
	<tr>
		<th>Clock</th>
		<th class="passwordProtected" >Name</th>
		<th>Reason</th>
		<th>Started</th>
		<th>Elapsed</th>
	</tr>
	@foreach (var timestamp in Model.Down)
	{
		var timeElapsed = DateTime.Now - timestamp.ClockIn;
		<tr>
			<td>@timestamp.User.ClockNumber</td>
			<td class="passwordProtected">@timestamp.User.FullName</td>
			<td>@timestamp.DowntimeReason.Text</td>
			<td>@timestamp.ClockIn</td>
			<td>@timeElapsed.Days Day(s) : @timeElapsed.Hours Hour(s) : @timeElapsed.Minutes Minute(s)</td>
		</tr>
	}
</table>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const userInput = window.prompt("Enter the password to see all data.");
		const password = "admincheck4";
		if (userInput === password) {
			const hiddenElements = document.getElementsByClassName("passwordProtected");
			for (let i = 0; i < hiddenElements.length; i++) {
				hiddenElements[i].style.display = "block";
			}
		}
	});
</script> 