@model ProjectLogViewModel
@{
    ViewData["Title"] = "Project Work Logger";
}
<section>
    @if (Model != null)
    {
        <h2>Project: @Model.SelectedProject.ProjectNo</h2>
    }
    else
    {
        <h2>No Project Selected</h2>
    }
    <a href="/LogTime/SelectProject">Change Project</a>
</section>

@if (Model != null)
{
    if (Model.SelectedProject == null)
    {
        <h2>no data available</h2>
    }
    // filter time stamps for ones currently running
    var workingUsers = @Model.LaborTimeStamps.Where(timeStamp => timeStamp.ClockOut == null);
    <form method='post' action="/LogTime/ClockUserInOut">
        @Html.AntiForgeryToken()
        <h2>Clock in/out</h2>
        <input name="userClock" id="userClock" type="number" autofocus class='form-control input-sm' onchange="this.form.submit()" min=1 />
        <input name="projectClock"
        id="projectClock"
        type="number"
        style="display:none"
        value=@Model.SelectedProject.Id />
    </form>
    <section>
        <dl>
            <dt>Hours worked</dt>
            <dd>@Model.HoursWorked</dd>

            <dt>Hours Required</dt>
            <dd>To be added</dd>

            <dt>Employees working</dt>
            <dd>@workingUsers.Count()</dd>
        </dl>
        <ul>
            @foreach (var timeStamp in workingUsers)
            {                
            string userName = timeStamp.User?.FullName ?? "Unknown User";
                <li>
                    @userName
                </li>
            }            
        </ul>
    </section>
}