@model ProjectLogViewModel
@{
    ViewData["Title"] = "Log Time";
}

<h1>Project Work Logger</h1>
<section>
    @if (Model != null)
    {
        <h2>Project: @Model.SelectedProject.ProjectNo</h2>
    }
    else
    {
        <h2>No Project Selected</h2>
    }
    <a href="/LogTime/SelectProject">Change Project</a>
</section>
@if (Model != null)
{
    // filter time stamps for ones currently running
    var workingUsers = @Model.LaborTimeStamps.Where(timeStamp => timeStamp.ClockOut == null);
    <section>
        <dl>
            <dt>Hours worked</dt>
            <dd>@Model.HoursWorked</dd>

            <dt>Hours Required</dt>
            <dd>To be added</dd>

            <dt>Employees working</dt>
            <dd>@workingUsers.Count()</dd>
        </dl>
        <ul>
            @foreach(var timeStamp in workingUsers)
            {
                <li>@timeStamp.User</li>
            }
        </ul>
            </section>
        }

